datasets==2.18.0
llama-index==0.12.30
# llama-index-callbacks-arize-phoenix==0.1.4
# llama-index-llms-huggingface-api==0.1.5
llama-index-embeddings-huggingface==0.5.3
llama-index-utils-workflow==0.3.1
llama-index-vector-stores-chroma==0.4.1
llama-index-llms-ollama==0.5.4
pyvis==0.3.2
gradio==5.29.0
pyautogen==0.9
autogen-agentchat==0.5.7
autogen-ext[openai,azure]==0.5.7
matplotlib==3.10.3
yfinance==0.2.61
langchain==0.3.24
langchain-openai==0.3.14
langgraph==0.4.8
langsmith==0.3.45
langchain-core==0.3.64
langchain-tavily==0.1.6
langchain-community==0.3.24
langchain-anthropic==0.3.15
anthropic==0.52.2
google-cloud-aiplatform==1.93.1
langchain-google-vertexai==2.0.24
wikipedia==1.4.0
